@import url(https://fonts.googleapis.com/css?family=Open+Sans:300i,400,700);
@import url('https://rsms.me/inter/inter.css');
@import url('jetbrains-mono.css');

:root {
    --breadcrumb-font-color: #A6AFBA;
    --hover-link-color: #5B5DEF;
    --footer-height: 64px;
    --footer-padding-top: 48px;
    --horizontal-spacing-for-content: 42px;
}

#content {
    padding: 0 var(--horizontal-spacing-for-content);
}

.breadcrumbs {
    padding: 24px 0;
    color: var(--breadcrumb-font-color);
}

.breadcrumbs a {
    color: var(--breadcrumb-font-color)
}

.breadcrumbs a:hover {
    color: var(--hover-link-color)
}

.tabs-section > .section-tab:first-child {
    margin-left: 0;
}

.section-tab {
    border: 0;
    cursor: pointer;
    background-color: transparent;
    border-bottom: 1px solid #DADFE6;
    padding: 11px 3px;
    font-size: 14px;
    color: #637282;
    outline: none;
    margin: 0 8px;
}

.section-tab:hover {
    color: #282E34;
    border-bottom: 2px solid var(--hover-link-color);
}

.section-tab[data-active=''] {
    color: #282E34;
    border-bottom: 2px solid var(--hover-link-color);
}

.tabs-section-body {
    margin: 12px 0;
    background-color: white;
}

.tabs-section-body > .table {
    margin: 12px 0;
}

.tabs-section-body .with-platform-tabs > div {
    margin: 0 12px;
}

.tabs-section-body .table .with-platform-tabs > div {
    margin: 0;
}

.tabs-section-body .with-platform-tabs {
    padding-top: 12px;
    padding-bottom: 12px;
}

.tabs-section-body .with-platform-tabs .sourceset-depenent-content .table-row {
    background-color: #f4f4f4;
    border-bottom: 2px solid white;
}

.cover > .platform-hinted {
    padding-top: 24px;
    margin-top: 24px;
    padding-bottom: 16px;
}

.cover {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 48px;
}

.tabbedcontent {
    padding: 14px 0;
}

.cover .platform-hinted .sourceset-depenent-content > .symbol,
.cover > .symbol {
    background-color: white;
}

.cover .platform-hinted.with-platform-tabs .sourceset-depenent-content > .symbol {
    background-color: #f4f4f4;
}

.cover .platform-hinted.with-platform-tabs .sourceset-depenent-content > .block ~ .symbol {
    padding-top: 16px;
    padding-left: 0;
}

.cover .sourceset-depenent-content > .block {
    padding: 16px 0;
    font-size: 18px;
    line-height: 28px;
}

.cover .platform-hinted.with-platform-tabs .sourceset-depenent-content > .block {
    padding: 0;
    font-size: 14px;
}

.cover ~ .divergent-group {
    margin-top: 24px;
    padding: 24px 8px 8px 8px;
}

.cover ~ .divergent-group .main-subrow .symbol {
    width: 100%;
}

.divergent-group {
    background-color: white;
    padding: 16px 8px;
    margin-bottom: 2px;
}

.divergent-group .table-row {
    background-color: #F4F4F4;
    border-bottom: 2px solid white;
}

.title > .divergent-group:first-of-type {
    padding-top: 0;
}

#container {
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

#main {
    width: 100%;
    max-width: calc(100% - 280px);
    display: flex;
    flex-direction: column;
}

#leftColumn {
    width: 280px;
    min-height: 100%;
    border-right: 1px solid #DADFE6;
    flex: 0 0 auto;
}

@media screen and (max-width: 600px) {
    #container {
        flex-direction: column;
    }

    #leftColumn {
        border-right: none;
    }
}

#sideMenu {
    max-height: calc(100% - 90px);
    padding-top: 16px;
    position: relative;
}

#sideMenu img {
    margin: 1em 0.25em;
}

#sideMenu hr {
    background: #DADFE6;
}

#searchBar {
    float: right;
}

#logo {
    background-size: 125px 26px;
    border-bottom: 1px solid #DADFE6;
    background-repeat: no-repeat;
    background-image: url(../images/docs_logo.svg);
    background-origin: content-box;
    padding-left: 24px;
    padding-top: 24px;
    height: 48px;
}

.monospace,
.code {
    font-family: monospace;
}

.sample-container, div.CodeMirror {
    display: flex;
    flex-direction: column;
}

code.paragraph {
    display: block;
}

.overview > .navButton {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-right: 24px;
}

.strikethrough {
    text-decoration: line-through;
}

.symbol:empty {
    padding: 0;
}

.symbol {
    background-color: #F4F4F4;
    align-items: center;
    display: block;
    padding: 8px 8px 8px 16px;
    box-sizing: border-box;
    white-space: pre-wrap;
    font-weight: bold;
    position: relative;
    line-height: 24px;
}

.symbol span.copy-icon path {
    fill: #637282;
}

.symbol span.copy-icon:hover path {
    fill: black;
}

.copy-popup-wrapper {
    display: none;
    align-items: center;
    position: absolute;
    z-index: 1000;
    background: white;
    font-weight: normal;
    font-family: 'Inter', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: max-content;
    font-size: 14px;
    cursor: default;
    border: 1px solid #D8DCE1;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px var(--ring-popup-shadow-color);
    border-radius: 3px;
}

.copy-popup-wrapper.popup-to-left {
    /* since it is in position absolute we can just move it to the left to make it always appear on the left side of the icon */
    left: -15em;
}

.copy-popup-wrapper.active-popup {
    display: flex !important;
}

.copy-popup-wrapper:hover {
    font-weight: normal;
}

.copy-popup-wrapper svg {
    padding: 8px;
}

.copy-popup-wrapper > span:last-child {
    padding-right: 14px;
}

.symbol .top-right-position {
    /* it is important for a parent to have a position: relative */
    position: absolute;
    top: 8px;
    right: 8px;
}

.sideMenuPart > .overview {
    display: flex;
    align-items: center;
    position: relative;
    user-select: none; /* there's a weird bug with text selection */
    padding: 8px 0;
}

.sideMenuPart a {
    display: block;
    align-items: center;
    height: 100%;
    color: #637282;
    overflow: hidden;
}

.sideMenuPart > .overview:before {
    box-sizing: border-box;
    content: '';
    top: 0;
    width: 280px;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
}

.overview:hover:before {
    background-color: #DADFE5;
}

#nav-submenu {
    padding-left: 24px;
}

.sideMenuPart {
    padding-left: 12px;
    box-sizing: border-box;
}

.sideMenuPart .hidden > .overview .navButtonContent::before {
    transform: rotate(0deg);
}

.sideMenuPart > .overview .navButtonContent::before {
    content: url("../images/arrow_down.svg");
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
}

.sideMenuPart.hidden > .navButton .navButtonContent::after {
    content: '\02192';
}

.sideMenuPart.hidden > .sideMenuPart {
    height: 0;
    visibility: hidden;
}

.filtered > a, .filtered > .navButton {
    display: none;
}

body, table {
    font-family: 'Inter', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #F4F4F4;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    height: 100%;
    /*max-width: 1440px; TODO: This results in worse experience on ultrawide, but on 16:9/16:10 looks better.*/
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    padding: 5px;
}

tbody > tr {
    border-bottom: 2px solid #F4F4F4;
    min-height: 56px;
}

td:first-child {
    width: 20vw;
}

.keyword {
    color: black;
    font-family: JetBrains Mono, Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
    font-size: 12px;
}

.symbol {
    font-family: JetBrains Mono, Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
    font-size: 12px;
    min-height: 43px;
}

.symbol > a {
    color: var(--hover-link-color);
}

.identifier {
    color: darkblue;
    font-size: 12px;
    font-family: JetBrains Mono, Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
}

.brief {
    white-space: pre-wrap;
    overflow: hidden;
    padding-top: 8px;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: bold;
}

p, ul, ol, table, pre, dl {
    margin: 0 0 20px;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
}


h1.cover {
    font-size: 60px;
    line-height: 64px;
    letter-spacing: -1.5px;

    margin-left: calc(-1 * var(--horizontal-spacing-for-content));
    margin-right: calc(-1 * var(--horizontal-spacing-for-content));
    padding-left: var(--horizontal-spacing-for-content);
    padding-right: var(--horizontal-spacing-for-content);
    border-bottom: 1px solid #DADFE6;

    margin-bottom: 0;
    padding-bottom: 32px;
    display: block;
}

h2 {
    color: #393939;
    font-size: 31px;
    line-height: 40px;
    letter-spacing: -0.5px;
}

h3 {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;
}

h4 {
    margin: 0;
}

h3, h4, h5, h6 {
    color: #494949;
}

.UnderCoverText {
    font-size: 18px;
    line-height: 28px;
}

a {
    color: #5B5DEF;
    font-weight: 400;
    text-decoration: none;
}

a:hover {
    color: #5B5DEF;
    text-decoration: underline;
}

a small {
    font-size: 11px;
    color: #555;
    margin-top: -0.6em;
    display: block;
}

.wrapper {
    width: 860px;
    margin: 0 auto;
}

blockquote {
    border-left: 1px solid #e5e5e5;
    margin: 0;
    padding: 0 0 0 20px;
    font-style: italic;
}

code, pre {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
    color: #333;
    font-size: 12px;
}

pre {
    display: block;
    overflow-x: auto;
}

th, td {
    text-align: left;
    vertical-align: top;
    padding: 5px 10px;
}

dt {
    color: #444;
    font-weight: 700;
}

th {
    color: #444;
}

img {
    max-width: 100%;
}

header {
    width: 270px;
    float: left;
    position: fixed;
}

header ul {
    list-style: none;
    height: 40px;

    padding: 0;

    background: #eee;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
    background: -webkit-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: linear-gradient(top, #f8f8f8 0%, #dddddd 100%);

    border-radius: 5px;
    border: 1px solid #d2d2d2;
    box-shadow: inset #fff 0 1px 0, inset rgba(0, 0, 0, 0.03) 0 -1px 0;
    width: 270px;
}

header li {
    width: 89px;
    float: left;
    border-right: 1px solid #d2d2d2;
    height: 40px;
}

header ul a {
    line-height: 1;
    font-size: 11px;
    color: #999;
    display: block;
    text-align: center;
    padding-top: 6px;
    height: 40px;
}

strong {
    color: #222;
    font-weight: 700;
}

header ul li + li {
    width: 88px;
    border-left: 1px solid #fff;
}

header ul li + li + li {
    border-right: none;
    width: 89px;
}

header ul a strong {
    font-size: 14px;
    display: block;
    color: #222;
}

section {
    width: 500px;
    float: right;
    padding-bottom: 50px;
}

small {
    font-size: 11px;
}

hr {
    border: 0;
    background: #e5e5e5;
    height: 1px;
    margin: 0 0 20px;
}

footer {
    width: 270px;
    float: left;
    position: fixed;
    bottom: 50px;
}

.platform-tag {
    display: flex;
    flex-direction: row;
    padding: 4px 8px;
    height: 24px;
    border-radius: 100px;
    box-sizing: border-box;
    border: 1px solid transparent;
    margin: 2px;
    font-family: Inter, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    outline: none;

    color: #fff

}

.platform-tags {
    flex: 0 0 auto;
    display: flex;
}

.platform-tags > .platform-tag {
    align-self: center;
}

.platform-tag.jvm-like {
    background-color: #4DBB5F;
    color: white;
}

.platform-tag.js-like {
    background-color: #FED236;
    color: white;
}

.platform-tag.native-like {
    background-color: #CD74F6;
    color: white;
}

.platform-tag.common-like {
    background-color: #A6AFBA;
    color: white;
}

.filter-section {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    min-height: 30px;
    position: absolute;
    top: 20px;
    right: 88px;
    z-index: 0;
}

.platform-selector:hover {
    border: 1px solid #A6AFBA !important;
}

[data-filterable-current=''] {
    display: none !important;
}

.platform-selector:not([data-active]) {
    border: 1px solid #DADFE6;
    background-color: transparent;
    color: #637282;
}

td.content {
    padding-left: 24px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
}

.main-subrow {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
}

.main-subrow > span {
    display: flex;
    position: relative;
}

.main-subrow > span > a {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #282E34;
}

.main-subrow > span > a:hover {
    color: var(--hover-link-color);
}

.main-subrow:hover .anchor-icon {
    opacity: 1;
    transition: 0.2s;
}

.main-subrow .anchor-icon {
    padding: 0 8px;
    opacity: 0;
    transition: 0.2s 0.5s;
}

.main-subrow .anchor-icon > svg path {
    fill: #637282;
}

.main-subrow .anchor-icon:hover {
    cursor: pointer;
}

.main-subrow .anchor-icon:hover > svg path {
    fill: var(--hover-link-color);
}

.main-subrow .anchor-wrapper {
    position: relative;
}

.platform-hinted {
    flex: auto;
    display: block;
    margin-bottom: 5px;
}

.platform-hinted > .platform-bookmarks-row > .platform-bookmark {
    min-width: 64px;
    height: 36px;
    border: 2px solid white;
    background: white;
    outline: none;
    flex: none;
    order: 5;
    align-self: flex-start;
    margin: 0;
}

.platform-hinted > .platform-bookmarks-row > .platform-bookmark.jvm-like:hover {
    border-top: 2px solid rgba(77, 187, 95, 0.3);
}

.platform-hinted > .platform-bookmarks-row > .platform-bookmark.js-like:hover {
    border-top: 2px solid rgba(254, 175, 54, 0.3);
}

.platform-hinted > .platform-bookmarks-row > .platform-bookmark.native-like:hover {
    border-top: 2px solid rgba(105, 118, 249, 0.3);
}

.platform-hinted > .platform-bookmarks-row > .platform-bookmark.common-like:hover {
    border-top: 2px solid rgba(161, 170, 180, 0.3);
}

.platform-hinted > .platform-bookmarks-row > .platform-bookmark.jvm-like[data-active=''] {
    border: 2px solid #F4F4F4;
    border-top: 2px solid #4DBB5F;

    background: #F4F4F4;
}

.platform-hinted > .platform-bookmarks-row > .platform-bookmark.js-like[data-active=''] {
    border: 2px solid #F4F4F4;
    border-top: 2px solid #FED236;

    background: #F4F4F4;
}

.platform-hinted > .platform-bookmarks-row > .platform-bookmark.native-like[data-active=''] {
    border: 2px solid #F4F4F4;
    border-top: 2px solid #CD74F6;

    background: #F4F4F4;
}

.platform-hinted > .platform-bookmarks-row > .platform-bookmark.common-like[data-active=''] {
    border: 2px solid #F4F4F4;
    border-top: 2px solid #A6AFBA;

    background: #F4F4F4;
}

.platform-hinted > .content:not([data-active]),
.tabs-section-body > *:not([data-active]) {
    display: none;
}

/*Work around an issue: https://github.com/JetBrains/kotlin-playground/issues/91*/
.platform-hinted[data-togglable="Samples"] > .content:not([data-active]),
.tabs-section-body > *[data-togglable="Samples"]:not([data-active]) {
    display: block !important;
    visibility: hidden;
    height: 0;
    position: fixed;
    top: 0;
}

.inner-brief-with-platform-tags {
    display: block;
    width: 100%
}

.brief-with-platform-tags {
    display: flex;
}

.brief-with-platform-tags ~ .main-subrow {
    padding-top: 16px;
}

.cover .with-platform-tabs {
    background-color: white;
}

.cover > .with-platform-tabs .platform-bookmarks-row {
    margin: 0 16px;
}

.cover > .with-platform-tabs > .content {
    margin: 0 16px;
    background-color: #f4f4f4;
    padding: 8px 16px;
}

.cover > .block {
    padding-top: 48px;
    padding-bottom: 24px;
    font-size: 18px;
    line-height: 28px;
}

.cover > .block:empty {
    padding-bottom: 0;
}

.table-row .with-platform-tabs .sourceset-depenent-content .brief {
    padding: 16px;
    background-color: #f4f4f4;
}

.sideMenuPart[data-active] > .overview:before {
    border-left: 4px solid var(--hover-link-color);
    background: rgba(91, 93, 239, 0.15);
}

.table {
    display: flex;
    flex-direction: column;
}

.table-row {
    display: flex;
    flex-direction: column;
    background: white;
    border-bottom: 2px solid #f4f4f4;
    padding: 16px 24px 16px 24px;
}

.platform-dependent-row {
    display: grid;
    padding-top: 8px;
}

.title-row {
    display: grid;
    grid-template-columns: auto auto 7em;
    width: 100%;
}

.keyValue {
    display: grid;
}

@media print, screen and (min-width: 960px) {
    .keyValue {
        grid-template-columns: 20% 80%;
    }

    .title-row {
        grid-template-columns: 20% auto 7em;
    }
}

@media print, screen and (max-width: 960px) {

    div.wrapper {
        width: auto;
        margin: 0;
    }

    header, section, footer {
        float: none;
        position: static;
        width: auto;
    }

    header {
        padding-right: 320px;
    }

    section {
        border: 1px solid #e5e5e5;
        border-width: 1px 0;
        padding: 20px 0;
        margin: 0 0 20px;
    }

    header a small {
        display: inline;
    }

    header ul {
        position: absolute;
        right: 50px;
        top: 52px;
    }
}

@media print, screen and (max-width: 720px) {
    body {
        word-wrap: break-word;
    }

    header {
        padding: 0;
    }

    header ul, header p.view {
        position: static;
    }

    pre, code {
        word-wrap: normal;
    }
}

@media print, screen and (max-width: 480px) {
    body {
        padding-right: 15px;
    }

    header ul {
        display: none;
    }
}

@media print {
    body {
        padding: 0.4in;
        font-size: 12pt;
        color: #444;
    }
}

.footer {
    clear: both;
    display: flex;
    align-items: center;
    position: relative;
    height: var(--footer-height);
    border-top: 1px solid #DADFE6;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: var(--breadcrumb-font-color);
    margin-top:auto;
}

.footer span.go-to-top-icon {
    border-radius: 2em;
    padding: 11px 10px !important;
    background-color: white;
}

.footer span.go-to-top-icon path {
    fill: #637282;
}

.footer > span:first-child {
    margin-left: var(--horizontal-spacing-for-content);
    padding-left: 0;
}

.footer > span:last-child {
    margin-right: var(--horizontal-spacing-for-content);
    padding-right: 0;
}

.footer > span {
    padding: 0 16px;
}

.footer .padded-icon {
    padding-left: 0.5em;
}

/*For svg*/
.footer path {
    fill: var(--breadcrumb-font-color);
}

.pull-right {
    float: right;
    margin-left: auto
}

div.runnablesample {
    height: fit-content;
}

.anchor-highlight {
    border: 1px solid var(--hover-link-color) !important;
    box-shadow: 0 0 0 0.2em #c8e1ff;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}