@import url("//fonts.googleapis.com/css?family=Open+Sans:300,300italic,400italic,700italic,400,700");

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
    font: 400 14px/20px "Open Sans", Helvetica, Arial, sans-serif;
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure {
    margin-bottom: 15px;
}

ul, ol {
    margin-left: 30px;
}

li > ul, li > ol {
    margin-bottom: 0;
}

a {
    color: #2a7ae2;
    text-decoration: none;
}

a:visited {
    color: #1756a9;
}

a:hover {
    color: #111;
    text-decoration: underline;
}

blockquote {
    color: #828282;
    border-left: 4px solid #e8e8e8;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
}

blockquote > :last-child {
    margin-bottom: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    max-width: -webkit-calc(800px - (30px * 2));
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

a {
    text-decoration: underline;
}

h1 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 33px;
}

h1:first-of-type {
    margin-top: 0;
    margin-bottom: 30px;
}

@media print {
    h1 {
        page-break-before: always;
        page-break-after: avoid;
    }
}

h2 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 27px;
}

h2:first-of-type {
    margin-top: 0;
}

@media print {
    h2 {
        page-break-after: avoid;
    }
}

h3 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 19px;
    line-height: 22px;
}

@media print {
    h3 {
        page-break-after: avoid;
    }
}

caption {
    margin: 0;
}

table {
    margin-bottom: 30px;
    line-height: inherit;
    font-size: inherit;
    border: 1px solid #dcdcdc;
    border-collapse: collapse;
    border-spacing: 0;
}

table thead {
    background-color: #F7F7F7;
    border-bottom-width: 2px;
}

table tfoot {
    color: #ccc;
}

table tfoot tr {
    border-bottom: none;
}

table tr {
    border-bottom: 1px solid #dcdcdc;
}

table th {
    padding-top: 10px;
    padding-bottom: 6px;
    text-align: left;
    font-weight: bold;
}

table th, table td {
    padding: 6px 10px;
    vertical-align: top;
}

table th:first-child, table td:first-child {
    padding-left: 12px;
}

table th:last-child, table td:last-child {
    padding-right: 12px;
}

table p:last-child, table pre:last-child {
    margin-bottom: 0;
}

pre {
    background-color: #efefef;
    overflow: auto;
}

code {
    font-family: "Liberation Mono", Consolas, Menlo, Courier, monospace;
    font-style: normal;
}

code :target {
    background-color: #FFFFCC;
}

body > code, td > code {
    display: block;
    background-color: #efefef;
    padding: 4px;
}

.keyword {
    font-family: "Liberation Mono", Consolas, Menlo, Courier, monospace;
    font-style: normal;
    color: #0000C0;
}

.symbol {
    font-family: "Liberation Mono", Consolas, Menlo, Courier, monospace;
    font-style: normal;
}

.identifier {
    font-family: "Liberation Mono", Consolas, Menlo, Courier, monospace;
    font-style: normal;
    color: darkblue;
}
